.logo{
    width: 210px;
     @include breakpoint(1460px){
        width: 175px;
    }
    @include breakpoint(576px){
        width: 135px;
    }
}
.navigation{
    @include breakpoint(993px){
        flex: 1 0 100%;
        margin-top: 40px;
    }
    &--mobile-menu{
        position: absolute;
        z-index: 100;
        right: 0;
        left: 0;
        margin-top: 0;
        background: $c-white;
        @include breakpoint(993px){
            margin-top: 0;
            padding: 35px 80px;
        }
        @include breakpoint(576px){
            align-items: center;
            padding: 35px 30px;
            margin-top: 0;
        }
        
    }
    &--mobile-menu &__list{
        @include breakpoint(576px){
            flex-direction: column;
            margin: 0 auto;
            text-align: center;
        }
    }
    &__list{
        display: flex;
        gap: 70px;
        margin: 0 200px;
        @include breakpoint(1460px){
            gap: 45px;
            margin: 0 175px;
        }
        @include breakpoint(1200px){
            gap: 25px;
            margin: 0 150px;
        }
         @include breakpoint(1200px){
            gap: 25px;
            margin: 0 75px;
        }
        @include breakpoint(993px){
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            margin: 0;
        }
    }  
    &__link{
        transition: color .3s;
        &:hover{
            color: $c-orange;
        }
    }      
    &.navigation-close{
        @include breakpoint(993px){
            height: 0;
        }
    }
}
.navigation-burger{
    display: flex;
    cursor: pointer;
    &__icon{
        .open{
            width: 25px;
           
        }
    }
    &__text{
        margin-left: 2px;
    }
}
.social{
    display: flex;
    gap: 15px;
    &__icon{
        width: 45px;
        &:hover path{
            fill: $c-orange;
        }
        path{
            transition: fill .3s;
        }
    }
}
.button{
    padding: 16px 50px;
    border-radius: 30px;
    background: $c-black;
    cursor: pointer;
    transition: color .3s;
    &:hover{
        .text{
            color: $c-orange;
        }
    }
    @include breakpoint(1460px){
        padding: 16px 45px;
    }
}
.section-orange{
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    @include breakpoint(993px){
        flex-wrap: wrap;
        align-items: center;
    }
    &__text-container{
        box-sizing: border-box;
        flex: 1 0 50%;
        justify-content: center;
        display: flex;
        align-items: center;
        background: $c-orange;
        @include breakpoint(993px){
            flex: 1 0 100%;
        }
    }
    &__text-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 120px 0 50px;
        @include breakpoint(1460px){
            margin: 180px 175px 183px 50px;
        }
        @include breakpoint(1140px){
            margin: 180px 50px 183px 50px;
        }
        @include breakpoint(993px){
            flex-wrap: wrap;
            align-items: center;
            margin: 118px 50px 115px 50px;
        }
         @include breakpoint(576px){
            margin: 80px 30px 80px 30px;
        }
        .h1, .text{
            margin-bottom: 20px;
        }
    }
    &__picture-container{
        flex: 1 0 50%;
        @include breakpoint(993px){
            flex: 1 0 100%;
        }
       @include breakpoint(576px){
            height: 395px;
       }
        .picture{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.contact-info{
    border-collapse: separate;
    border-spacing: 0px 40px;
     @include breakpoint(576px){
        border-spacing: 0px 20px;
    }
}
.info-item{
    @include breakpoint(576px){
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 34px;
    }
    &:last-child{
        margin-bottom: 0;
    }
    td{
        vertical-align: middle;
         @include breakpoint(576px){
            width: 100%;
       }
    }
    td:first-child{
        width: 125px;
        @include breakpoint(576px){
            width: 100%;
            margin-bottom: 12px;
        }
    }
}
.contact-form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 685px;
    padding: 30px 30px;
    background: $c-white;
    border-radius: 40px;
    @include breakpoint(1460px){
        width: 605px;
    }
    @include breakpoint(1300px){
        width: auto;
    }
     @include breakpoint(993px){
        width: 100%;
        max-width: 100%;
    }
     @include breakpoint(576px){
        border-radius: 20px;
        padding: 10px 15px 20px 15px;

     }

    &__label{
        margin-bottom: 5px;
    }
    &__input{
        box-sizing: border-box;
        width: 100%;
        padding: 10px 15px;
        border: none;
        outline: 1px solid $c-light-gray;
        border-radius: 8px;
        @include breakpoint(576px){
            padding: 12px 15px;
        }
        &:placeholder{
            color: $c-light-gray;
        }
        &:focus{
            outline-color: $c-orange;
        }
        &:valid{
            background: $c-white;
        }
        &.failed{
            outline-color: $c-red;
        }
    }
    &__textarea{
        box-sizing: border-box;
        width: 100%;
        height: 120px;
        padding: 15px;
        border: 1px solid $c-light-gray;
        border-radius: 8px;
        font-family: system-ui;
         @include breakpoint(993px){
            padding: 10px 13px;
            font-family: system-ui;
        }
        &.failed{
            border-color: $c-red;
        }
    }
    &__button{
        padding: 14px 42px;
    }
    &__error{
        margin: 5px 0 15px 0;
        color: $c-red;
        @include breakpoint(576px){
            margin: 5px 0 12px 0;
        }
        &#message_error{
            margin-bottom: 25px;
            @include breakpoint(993px){
                margin-bottom: 27px;
            }

        }
    }
}
.desk{
    display: flex;
    @include breakpoint(993px){
        display: none;
    }
}
.mob{
    display: none;
    @include breakpoint(993px){
        display: flex;
    }
}
.none{
    display: none;
}
